@model KidKinder.Entities.ClassRoom
@{
    ViewBag.Title = "UpdateClass";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="pcoded-inner-content">
    <div class="main-body">
        <div class="page-wrapper">
            <div class="page-body">
                <div class="row">
                    <div class="col-sm-12">
                        <!-- Basic Form Inputs card start -->
                        <div class="card">
                            <div class="card-header">
                                <h5>Sınıf Guncelleme Sayfası</h5>
                                <span>Sınıf ile ilgili verileri eksiksiz olarak doldurunuz.</span>
                            </div>
                            <div class="card-block">
                                <form method="post">
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Ogretmen ID</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.ClassRoomId, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Sınıf Adı</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Acıklama</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.Description, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Yas Aralıgı</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.AgeofKids, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Toplam Saat</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.TotalSeat, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Ders Saati</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.ClassTime, new { @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Ucret</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-2 col-form-label">Sınıf Resmi</label>
                                        <div class="col-sm-10">
                                            @Html.TextBoxFor(x => x.ImageUrl, new { @class = "form-control" })
                                        </div>
                                    </div>
                                    <button class="btn btn-warning">Sınıf Bilgilerini Güncelle</button>
                                </form>
                            </div>
                        </div>
                        <!-- Basic Form Inputs card end -->
                    </div>
                </div>
            </div>
            <!-- Page body end -->
        </div>
    </div>
    <!-- Main-body end -->
</div>



